[2014-05-28 16:31] kzu opened #1 "Create cross-platform xunit runner using Xamarin.Forms"
http://developer.xamarin.com/guides/cross-platform/xamarin-forms/

Now I can talk about it :). We should do it with that, so that we can have a single mobile runner across all three mobile platforms!

[2014-10-08 12:55] Planverlust opened #2 "Difficulties using XUnit Runner on iOS"
I followed the instructions here

http://blog.novotny.org/2014/07/10/getting-started-with-xunit-for-xamarin/

I copied the the content of AppDelegate.cs.txt to AppDelegate.cs, but when i run it, the Simulator window stays black. When i look to Application Output window, there is a logged error:

Could not register the assembly 'xunit.runner.ios': System.Reflection.ReflectionTypeLoadException: The

[2014-12-09 17:37] goodlaff opened #4 "AutoStart and TerminateAfterExecution not working"
Since upgrading to xunit 2.0.0-beta5-build2785 and unit.runner.xamarin 0.99.5-beta5 the flags to AutoStart and TerminateAfterExecution no longer work for iOS or Android, in that the test execution doesn't automatically start, and the app doesn't close automatically.

Manual execution still works.

[2014-12-09 17:55] goodlaff opened #5 "xunit.runner.utility required dependency not included in app build"
When running the app an error occurs stating that it cannot find xunit.runner.utility.dll to load, and inspecting the app/apk output you can see it is indeed not bundled (implicit linked assemblies are optimised out)

To get around this you can manually include the xunit.runner.utility package from nuget in the project.

Better solution to ensure that mono bundles this assembly in the app would be

[2014-12-29 13:18] #4 closed, assigned to nobody

[2014-12-29 13:19] #1 closed, assigned to nobody

[2015-01-07 11:38] goodlaff commented on #5
Hi @onovotny,

Sorry, been away for the last 2 weeks.

Have checked the latest build from nuget and it works perfectly on iOS and Android with no need to explicitly include utility package.

Thanks for sorting this out!

Keith

[2015-01-07 11:38] #5 closed

[2015-01-11 11:10] Planverlust commented on #2
Sorry for the late answer. Tried the latest version and it works perfectly! I am happy that i can continue my adventures in xUnit now! Can't stand NUnit any more ;-)

[2015-01-11 11:10] #2 closed

[2015-01-30 07:56] kentcb opened #6 "64-bit Support"
Need to switch to the unified API in order to support 64-bit.

[2015-01-31 20:04] onovotny commented on #6
This is in progress. Just hit a snag with Xamarin changing a path name on the device for 64-bit so it might be a bit....we'll see.

[2015-02-01 01:00] onovotny commented on #6
This is now supported in RC1: https://www.nuget.org/packages/xunit.runner.xamarin/

[2015-02-01 01:00] #6 closed

[2015-02-01 12:39] kentcb commented on #6
Thanks @onovotny. I noticed the package has a dependency on xunit >= 2.0.0rc1-build2826. However, per [this issue](https://github.com/xunit/xunit/issues/279), I haven't been able to install that version of xunit due to Xamarin Studio having too old a version of NuGet.

Am I missing something?

[2015-02-02 03:21] kentcb opened #7 "Filtering fails frequently and is very slow"
Hi,

Using the filtering box with my project (>700 tests) fails often (but not always) with:
[code]
Quite possibly a Xamarin Forms issue, but nonetheless it's blocking me from using the feature. It is also painfully slow, especially when typing the first few characters to filter on.

[2015-02-02 04:18] kentcb opened #9 "Test duration is always zero"
The `Duration` property is assigned to the `TestResultViewModel` instance after the `TestCaseViewModel` creates its success message, so it always reads as zero.

[2015-02-02 04:38] kentcb opened #11 "Should be possible to filter on classes"
Often one just wants to run tests in a certain fixture. The current filter mechanism only allows filtering based on the test name. I think it would be super useful to allow filtering on the fixture name too.

[2015-02-02 04:52] kentcb opened #13 "Should be able to run just filtered tests"
Filtering is more useful if it allows the execution of a subset of tests. Currently to execute a subset of tests one must:

1. Filter
2. Click on each test

The **Run All** button does what it says, regardless of any filtering.

To address this, I would suggest a **Run Filtered** button above the **Run All** button which executes only those tests that are visible.

[2015-02-02 16:50] onovotny commented on #7
Hi Kent,

Would you mind signing an Outercurve CLA for xUnit? If you could please send me your full name and email address, we can get the process started. Shouldn't take long.

I've already merged all of your PR's together locally and it looks good.

Thanks!

[2015-02-02 23:19] kentcb commented on #7
@onovotny : sent you an email.

Cheers.

[2015-02-04 12:45] onovotny opened #15 "Support xUnit's new configuration mechanism"
Need to read an app.config file and load it into the new xUnitDiscover/Exec settings.

[2015-02-10 19:52] #7 closed

[2015-02-10 19:52] #9 closed

[2015-02-10 19:52] #11 closed

[2015-02-10 19:52] #13 closed

[2015-04-24 18:15] onovotny opened #18 "Enable tests to run on UI thread"
The UI thread plays an important role in device apps. Certain tests might need to execute on it.

The STAExample can likely be adapted:
https://github.com/xunit/samples.xunit/tree/master/STAExamples

[2015-04-24 18:48] bradwilson commented on #18
Related: https://github.com/xunit/samples.xunit/pull/12

[2015-05-26 19:49] Ivan-Razhnou opened #19 "If any of test assemblies has no tests - other assemblies don't get tests loaded as well"
I've created very simple skeleton of solution with PCL unit test library & iOS unit test library as suggested in your How To. I uncommented line for PCL in AppDelegate and added few tests in PCL library - as result nothing was discovered by runner.

I think that once runner get test assembly loaded and test assembly has no tests - all further test assemblies are ignored

[2015-05-26 21:14] onovotny commented on #19
Do you have a repro project somewhere?

[2015-06-09 14:29] darind opened #20 "Automating Windows Phone (silverlight based) unit tests"
Silverlight based Windows Phone unit tests cannot be easily automated with the `vstest.console.exe` runner because the target project in which they are hosted is a standard Windows Phone application contrary to the built-in MSTest Windows Phone (Silverlight) Unit Test project. Is this scenario supported?

[2015-07-05 06:36] rdavisau opened #21 "Installing 1.2.0-rc1 in VS2013"
Hi,

Thanks for this project! I found that I couldn't install the latest RC with WP8.1 support into my solution when running VS2013. I get `Install-Package : 'xunit.core' already has a dependency defined for 'xunit.extensibility.core'.`

 ![](http://imgur.com/rHOJAYg.png)

In VS2015 I had no trouble, I wonder if it is related the to change in NuGet dependency version resolution?

[2015-07-05 15:06] bradwilson commented on #21
Make sure you're running the latest NuGet package manager inside of Visual Studio. For 2013, that should be `2.8.60318.734`.

[2015-07-05 20:08] rdavisau commented on #21
Ah - rookie error! AOK after updating, thanks.

[2015-07-05 20:08] #21 closed

[2015-09-10 01:55] kentcb opened #22 "Filtered tests never have status updated on Android"
When running a test under Android when a filter has been entered, the status for the test is never updated. It just kind of hangs indefinitely. Running the same test without a filter (or on iOS with or without a filter) works as expected.

A repro solution can be downloaded from [here](http://cl.ly/3q3K3q2C3y1F).

Here's an example showing the repro with a filter entered and the test consequently

[2015-09-10 01:56] kentcb opened #23 "Test counts do not reset on Android"
When running tests under the Android runner, the test counts do not reset back to zero. Thus, running a single test multiple times results in output like this:

[code]

[2015-09-10 01:57] kentcb opened #24 "Test counts sometimes skipped on iOS"
When running tests under iOS, sometimes the test count does not reflect the actual number of tests executed. For example, when running a single test multiple times, one can see output like this:

[code]

[2015-09-10 02:15] #15 closed

[2015-09-10 19:37] onovotny commented on #20
Hi,

I'm not sure what you're asking here? I believe the vstest mechanism uses the same test adapters as the Visual Studio Test Explorer. Due to the way it's implemented on the VS side, it's impossible to create 3rd party adapters for WP8 Silverlight.

[2015-09-10 19:45] onovotny commented on #22
I just tried this in VS using the VS Android emulator and could not repro. I'm using a 5.1.1 android image.

![repro](https://cloud.githubusercontent.com/assets/1427284/9799067/ef255ca0-57d2-11e5-8272-a5d965d7d38c.png)

[2015-09-10 19:47] onovotny commented on #24
Is this with 1.0 or 1.2-rc3? Can you please test/verify on 1.2-rc3 as there were many fixes there.

I fixed the count issue #23 was fixed for all platforms post-rc3.

[2015-09-10 19:48] #23 closed

[2015-09-10 19:49] onovotny commented on #19
Closing as I cannot repro with 1.2-rc3. If you see this again, please re-open or let me know.

[2015-09-10 19:49] #19 closed

[2015-09-11 00:55] kentcb commented on #24
Just tried with 1.2-rc3 and get the same problem.

[2015-09-11 00:56] onovotny commented on #24
yeah, that wouldn't be in rc3 as I just checked in a fix. It should be in the latest CI build though.

[2015-09-11 00:57] kentcb commented on #22
This fails for me on both device and emulator (Nexus 5 lollipop).

I'm using XS stable channel. Are you on stable?

[2015-09-11 01:01] onovotny commented on #22
I'm on stable, but I don't use XS. I'm using VS 2015 with the latest Xamarin tools...

[2015-09-11 01:01] kentcb commented on #22
Actually, the problem is more subtle than I first realized. Here is what I can do to repro:

* run the xUnitTest.Droid project on either device or emulator
* tap the xUnitTest project in the test runner
* tap the filter entry
* enter "repro" or whatever
* tap the repro test

At this point, the test cell turns orange and stays that way indefinitely. However, I've just found that I can then tap *awa

[2015-09-11 01:06] onovotny commented on #22
Could this be a Xamarin Forms bug? There's really little that xUnit is doing other than running a test on tap of a test and/or the run filtered/all buttons. Everything else is Xam Forms databinding?

[2015-09-11 01:20] kentcb commented on #22
Feels like it could be anything in the stack at this point :(

Thing is, it works in iOS. So perhaps it does have something to do with the droid platform implementation. But then why does it work for you via VS?

I'm currently updating my VS install to try it there (though it's on alpha).

[2015-09-11 02:35] kentcb commented on #22
Ugh, after all those downloads and updates, I'm just getting deployment errors on my VS box. I give up.

This is not as big a deal as I originally thought because it is a UI quirk rather than a hang. I might get time to look into this further later on, but right now I need to move onto other things.

Thanks @onovotny

[2015-09-11 18:45] onovotny commented on #22
I'll leave this issue open for awhile; if you get time to locate root cause, I'd be happy to look deeper.

[2015-09-11 19:01] onovotny commented on #24
Closing now, please let me know if you're still seeing this in the next RC or in the current CI builds.

[2015-09-11 19:01] #24 closed

[2015-09-16 01:44] onovotny commented on #18
Will be in 1.2-rc4

[2015-09-16 01:44] #18 closed

[2015-11-11 10:28] kentcb opened #26 "Crash due to setting TCS result twice"
Having upgraded an older project with lots of tests to the latest device runner, I'm getting an exception on [this line](https://github.com/xunit/devices.xunit/blob/36862a4161d68499c9aa1780c174b685a3c9e3f4/src/xunit.runner.viewmodels/DeviceRunner.cs#L254) of _DeviceRunner.cs_. The debugging experience in VS+Xamarin is still terrible, but I managed to get this poorly-formatted stack trace:

[code]

[2015-11-11 12:43] onovotny commented on #26
That's really strange...I'm not sure where the bug is here. Looking at that method, it appears that a new `TaskCompletionSource` is created exactly once and then the handler method is executed on the threadpool once. The `SetResult` method is called once in the finally block.

It looks like we need to know what their version of TaskCompletionSource is doing on line 322.

[2015-11-11 12:48] onovotny commented on #26
It's probably this line: https://github.com/mono/referencesource/blob/mono/mscorlib/system/threading/Tasks/TaskCompletionSource.cs#L322

[2015-11-11 12:49] onovotny commented on #26
One theory: it's hitting SetException is called prior to SetResult and is thus not allowed.... do you see any first chance exceptions logged that might indicate this?

[2015-11-11 16:46] bradwilson commented on #26
Yep, that line should be `TrySetResult` instead of `SetResult`, because the latter conflicts with the `SetException` call in the catch block.

[2015-11-12 06:27] kentcb commented on #26
I've got break on all exceptions turned on, and this exception is the first one to show up :/

Thanks for making the fix @onovotny . Any idea when you'll be releasing to NuGet?

[2015-11-12 07:07] kentcb commented on #26
OK, I found the underlying problem. I had a theory with many test cases, but one of them was repeated. For example:

[code]

This was triggering an exception which VS+Xamarin was refusing to show me yesterday:

[code]

This was in turn triggering the `SetException` call and then subsequently the `SetResult` call, which triggered the original exception I mentioned.

Since I've had these tests worki

[2015-11-12 12:49] onovotny commented on #26
I just published 1.2.2 with this fix. It was supposed to be 1.2.1 but I mistyped the push from MyGet :(

[2015-11-12 12:49] #26 closed

[2015-11-12 22:01] kentcb commented on #26
@onovotny thanks!

[2015-11-16 22:56] kentcb opened #27 "Add "running" status"
It would be cool if there was a "running" status so that one could quickly filter to those tests that are stuck in their execution (quite a common occurrence when writing async tests).

[2015-11-16 22:59] kentcb opened #28 "Can't see test names"
The layout is such that test names are not discernible on small devices. The text just gets cut off somewhere within the namespace name, or class name if you're lucky. Also, rotating the device in an attempt to find out test names seems to reset everything.

Perhaps trim the start of the text?

[2015-11-16 23:00] onovotny commented on #28
What platform are you seeing the resetting on? Android? There's nothing inherent in the code where a rotate should clear things, but Android is recreates activities and things could be lost

[2015-11-16 23:08] kentcb commented on #28
Yeah, it's Android.

[2015-11-19 20:39] kensykora opened #29 "Breakpoints have stopped working in visual studio since last xamarin update."
I'm using xunit pretty extensively, this project is particularly great for running tests on the devices. However, after yesterday's major update, my breakpoints within unit tests are no longer causing the debugger to stop in visual studio. However, breakpoints do hit, but application execution is suspended -- it's just visual studio doesn't pick up on the breakpoint and I can't resume or step over

[2015-11-19 21:45] kensykora commented on #29
Attached is a link with a minimum set of reproducible code and Xamarin version numbers of the platform I'm currently running on.

https://www.dropbox.com/sh/au84myj9dgmj8hw/AAC5Sd31ruAHtnbYyoSdE9yua?dl=0#

[2015-11-19 21:46] onovotny commented on #29
I'm pretty sure this is a Xamarin issue/bug. I'd suggest opening up an issue there; feel free to cc me there.

[2015-11-19 22:08] kensykora commented on #29
Agreed -- I sent an email to their support. If you want to shoot me an email with your email address, I'll copy you on the support chain.

[2015-11-19 22:09] onovotny commented on #29
first at last dot org

[2015-11-22 05:02] AArnott commented on #29
+1
I've subscribed to this thread, but please CC me as well.

[2015-11-22 05:03] AArnott opened #31 "Show output from ITestOutputHelper"
My tests log to `ITestOutputHelper` but the text from these logs doesn't appear to be accessible in the mobile test runner either for failed or successful tests.

[2015-11-22 13:03] onovotny commented on #31
The devices runner currently does nothing with this. Question for you: where would you expect to see the output? Would a button to the left of the test result work? I assume that not all tests use this mechanism?

[2015-11-22 13:08] onovotny commented on #29
The Xamarin Bugzilla for this is here: https://bugzilla.xamarin.com/show_bug.cgi?id=36087

[2015-11-22 15:56] AArnott commented on #31
`ITestOutputHelper` is the only supported xunit logging mechanism AFAIK. Not all tests log messages, but those that log should use it.

I expected to find the log output above the failure details after tapping a failed test. Or after tapping a successful test. Since I get details on a failed test by tapping, I'd hope to get all the details whether it passed or failed.

[2015-11-22 17:20] onovotny commented on #31
I just checked in an update that should display this but I don't have any tests that currently use it...so I can't easily verify it.

Can you try out `1.2.3-build0004` from the CI feed?
https://www.myget.org/F/xunit-xamarin/api/v2

[2015-11-22 18:48] AArnott commented on #31
Your updated UX sounds good. I'll check it out later today and report back. Thanks. :)

[2015-11-23 21:22] jamesmontemagno commented on #29
Have you attempted to uninstall all of the Mono/Xamarin.Android runtimes from your device/emulator? sometimes that stuff can muck it up. Usually going through you installed apps on your android device and uninstalling them all then letting the latest can fix it up.

[2015-11-23 21:46] kensykora commented on #29
It is an issue both in iOS and Android, so it's not just limited to Android.

[2015-11-24 04:36] robertbaker opened #32 "Is this still accurate in the readme?"
`Basic functionality works -- tests are discoverable and runnable. There is a lot of room for improvements in each of the runner apps`

[2015-11-24 15:51] onovotny commented on #32
I suppose so, it's worded vaguely intentionally ;)

That said, xUnit does fully work with all of its extensibility mechanisms supported. The runner still does have room for improvement.
  - Getting data back from runner to listening agent (remote)
  - trait display/filters
  - UI polish
  - anything else that people request/want/etc.

[2015-11-24 19:51] AArnott opened #33 "Cannot discern between tests with long names that share a starting string"
The font is so large, with no word wrap in the UI, that if I have two or more tests that all start with the same word or two, I can't discern between them. No UI I can find will display the full test name.

For example, here is a screenshot that demonstrates no test name is shown. When the test happens to fail I can usually figure out the test name from the stack trace. But when a test passed, or

[2015-11-24 19:55] onovotny commented on #33
This is a partial dup of #28.

I agree, def needs something better here. Smaller size and word-wrap.

[2015-11-24 20:34] AArnott commented on #33
Ah yes, I'd say it's a dupe of #28. feel free to close unless you see something unique in this report.

[2015-11-24 20:35] onovotny commented on #33
I'll keep this one open as dealing with the length of the test names. #28 also has an android component to it with the data being cleared on rotation

[2015-11-24 21:05] onovotny commented on #33
I have a fix for the test result page for Wpa81/Xamarin, etc. That'll wrap the test name.

For UWP on the phone though, it can scroll if the text is too long, is that ok? Do you need wrapping there?

[2015-11-24 21:09] AArnott commented on #33
Scrolling---as in I can drag with my finger horizontally? Yes, that's fine.

[2015-11-24 21:10] onovotny commented on #33
Just pushed 46b3bfef8d63ccccec0179942d4acfa2270b35ba with the fix; should be in the devices CI feed in a few minutes.

[2015-11-24 21:59] AArnott commented on #31
Confirmed on 1.2.3-build0010

[2015-11-24 21:59] #31 closed

[2015-11-24 22:08] AArnott opened #34 "Tap on test should switch to 'backstage' -- not re-execute"
Consider changing the UX so that when I tap a test name it does not re-execute the test, but rather switches to a backstage view that shows the full test name (no matter how long), shows any relevant test output and failure text, and offers a re-execute button.

For tests that have not yet executed when I tap on them, executing them (before or instead of showing backstage) feels right.

[2015-11-24 22:10] AArnott commented on #34
I thought [PCLTesting](https://github.com/AArnott/pcltesting/tree/master/PCLTesting.Forms) did it this way, but looking at the code now I guess not.

[2015-11-24 22:11] onovotny commented on #28
Renaming this as #28 tracks the text size issue itself.

[2015-11-24 22:12] onovotny commented on #33
Fix is in current CI build and will be in next NuGet release

[2015-11-24 22:12] #33 closed

[2015-11-24 23:36] onovotny opened #35 "project.json all the things"
Get rid of the packages.config's

[2015-11-25 01:12] AArnott commented on #33
Is this fixed for passing tests with no output?

[2015-11-25 01:51] onovotny commented on #33
It should be in the next ci build, 11?

[2015-11-25 02:01] AArnott commented on #33
cool. I'll check it out.

[2015-11-25 04:07] #35 closed

[2015-11-25 16:40] AArnott opened #37 "Latest versions depend on newer Xamarin.Forms, which break builds"
After upgrading to 1.2.3-build0010 from the CI, I eventually discovered my Android test project stopped building with errors such as those mentioned in this [xamarin forum post](https://forums.xamarin.com/discussion/53748/resource-designer-cs-no-definition):

[code]

The advice in the post is to upgrade to SDK 23. While I can certainly do that, and am working to do so now, it requires I install th

[2015-11-25 16:44] onovotny commented on #37
There was no over-arching need other than keeping up with the latest. I really hate how heavy-weight Xam Forms is.

I can revert this back to 1.5 but any thoughts as to how often to update? Also some Xam Forms versions seem to require an Android update while others don't :(

[2015-11-25 17:11] AArnott commented on #37
I'd say update only when absolutely necessary.

In fact, even after installing SDK 23, the build still breaks, and I haven't been able to figure out why or how to fix:

[code]

Adding the nuget package with the name mentioned doesn't help. And the SDK Manager doesn't offer it, despite the claims that seem to suggest it would be there.

[2015-11-25 17:12] AArnott commented on #37
It's also strange that my AppVeyor CI build succeeds, although my local build fails.

[2015-11-25 17:49] onovotny commented on #37
One reason for updating it is to catch/deal with conflicts if other people want to use this to test a project that contains Xamarin forms stuff. I'm not super-convinced that a lib compiled with an older version, say 1.5, would work if they ultimately want to use 2.0 in their app.

Guess it's testable but lord knows what :dragon: awaits

[2015-11-25 18:53] robertbaker commented on #37
I would prefer to use Xam Forms 2. I just updated the dependency on my droid.test project to 2.0 and it 's broken. Looks like you are working on 2.0 now.

Hope to see a nuget update soon to use 2.0.

Personally I try to be on the latest of everything, unless something breaks and I can't easily fix it.

[2015-11-25 19:04] onovotny commented on #37
Heres my suggestion: A 1.3 version with Xam 1.5 with an immediate 2.0 version with forms 2. That will let the current fixes be avail to ppl in the interim.

[2015-11-25 19:22] AArnott commented on #37
sounds good.
@robertbaker  If you know how to overcome the most recent error I reported above, I'd be obliged. :)

[2015-11-25 20:37] robertbaker commented on #37
@AArnott
Did it install the app compat libs?

@onovotny any ETA on the 2.0 release with forms 2?

Right now it this works. My project is Forms 2, no conflicts.

[2015-11-25 21:01] AArnott commented on #37
@robertbaker I don't see anything with a name that includes "app compat" or similar. Maybe I'm just not seeing it since there is no search feature. Can you tell me where you see it in the hierarchy and what it's exactly called, please?

[2015-11-25 21:03] robertbaker commented on #37
Xamarin.Android.Support.v7.AppCompat.23.0.1.1

Xamarin Forms 2 installs a bunch of Xamarin.Android.Support.* libs

[2015-11-25 21:05] onovotny commented on #37
@robertbaker when you use project.json, you don't need to install each dependent package, they're brought in transitively, which is awesome.

[2015-11-25 21:06] robertbaker commented on #37
@onovotny I noticed that. How could I switch to using project.json in my xamarin solution? Is that possible?

[2015-11-25 21:08] AArnott commented on #37
@robertbaker If you're using Xamarin Studio, there is no IDE support for it. You'd have to use nuget.exe from the command line anytime you changed project.json files. But yes, I've been doing it for weeks with great results.

Your Xamarin.Android.Support.v7.AppCompat package doesn't look like one I'd find in the SDK Manager. Is this a NuGet package you're referring to? Because I added the package

[2015-11-25 21:16] robertbaker commented on #37
@AArnott Apologies for not being clear. Forms 2.0 adds Xamarin.Android.Support.* nuget packages.

As for the SDK. You just need the latest SDK Tools and 5.0 SDK platform. I also have sources, but not sure if that's needed.

I'm not using the master branch, so I'm not heling if that's the case. I'm using the stable nuget of devices.xunit.

When I tried to nuget update my test project to Forms 2. It

[2015-11-25 23:28] onovotny commented on #37
Okay, @AArnott  1.3.1 with Xamarin 1.5 refs was just pushed to nuget.org with the latest fixes. @robertbaker 2.0.0-build0002 with the xam forms 2.0 ref is on the CI MyGet feed. It'll be a bit longer for 2.0 to hit the main NuGet as there's a few other things I'd like to include in it too.

[2015-11-25 23:28] #37 closed

[2015-11-26 04:50] AArnott commented on #37
Thank you.

[2015-11-28 07:02] kentcb commented on #33
Out of interest, does this also set iOS 9's `CellLayoutMarginsFollowReadableWidth` property to `false` because it ludicrously defaults to `true`, which breaks existing table views so that they are essentially squashed horizontally. Rotating my iPad to landscape mode does absolutely nothing anymore to help me see more of the test names.

[2015-11-28 07:24] kentcb commented on #29
I reported this to Xamarin directly and they confirmed it was a bug. However, I only observed it in Android, not iOS. Ticket: https://bugzilla.xamarin.com/show_bug.cgi?id=36078

[2015-11-28 08:39] kentcb commented on #29
@jamesmontemagno also, not really convinced this will help for two reasons:

1. Breakpoints work outside of tests (even in the startup activity for the test harness, just not the tests themselves)
2. Xam support were able to repro the issue

That said, I'll try your suggestion and report back here.

[2015-11-28 22:27] onovotny commented on #33
I'm not sure....all of the non-UWP UI is done by Xamarin Forms and I have no idea what it's iOS renderer does in this case.

What I did do was to not use the `Title` element of the `ContentPage` and instead use a separate `Label` within the `StackLayout`. That appears to have better wrapping characteristics.

Always happy to take PR's to make things better (including any platform-specific Xam Form

[2015-11-28 22:31] kentcb commented on #33
OK, thanks @onovotny

Yeah, XF doesn't override the default. The fact that this new property screws up existing app layouts when transitioning from iOS 8 to 9 leaves a bad taste in my mouth. They could easily (and more reasonably) added the property and made it opt-in. It's almost like Apple _want_ to force developers to maintain their license just to make minor changes to apps that would otherwis

[2015-12-04 17:28] kensykora opened #39 "Setting text writer creates 0 byte files"
I think I'm encountering what is a bug, but I'm not really sure where it's happening. I'm trying to setup a file writer for test results on Android 4.4 (Nexus 4)

I have the following as my main activity:

[code]

However, when I do a test run, it creates a file, but the file is 0 bytes -- no content at all inside the file. I tried overriding onpause and closing the file stream but that didn't do

[2015-12-22 00:00] robertbaker opened #40 "In an android test app, how can I get the results of the test into TeamCity"

[2015-12-22 00:43] onovotny commented on #40
I'm not aware of any way to do a CI build of Android or iOS as those would require a way to spin up an emulator, deploy/run the app, wait for finish, remove the app and shutdown the emulator before returning results.

If there's a way to automate this for iOS/Android, I'd be happy to work with someone to figure out how to integrate things.

In theory the runners have a Writer property that could b

[2016-01-07 23:40] robertbaker commented on #37
@onovotny What is there left to do before support for Forms 2 is on Nuget?

[2016-01-22 20:33] onovotny commented on #39
I just tried this and got it working with one change - this is due to bad documentation.

Make sure to set `this.Writer` before calling `base.OnCreate()`. Once the base is called, the properties are not checked again.

[2016-01-22 20:33] #39 closed

[2016-01-22 20:33] onovotny commented on #40
Closing for now; the bug mentioned was resolved.

[2016-01-22 20:33] #40 closed

[2016-01-22 20:48] onovotny commented on #37
@robertbaker I've just pushed 2.0.0-build0007 to NuGet.org.

[2016-01-22 20:49] onovotny opened #41 "Add support for content files for UWP/Project.json"
NuGet 3.3 added support for content files. We need to add support for this here.

[2016-01-23 00:52] onovotny commented on #22
Has this still happened or can I close this issue?

[2016-01-23 00:53] #20 closed

[2016-01-23 20:09] onovotny commented on #41
Looks like this will have to wait on https://github.com/NuGet/Home/issues/1980 and hopefully make 2.1.

[2016-01-24 00:09] 304NotModified opened #42 "Cannot install for Xamarin.Android"
Installation of the Nuget packages gives an error and rolls back. What am I doing wrong?

I tried also the '2.0.0-build0007'  version, same error.

Full log:

[code]

[2016-01-24 00:33] onovotny commented on #42
What version of VS and what version of NuGet do you have installed there?

[2016-01-24 00:40] 304NotModified commented on #42
VS2013, NuGet 2.8.6

[2016-01-24 00:54] onovotny commented on #42
Hmm...what version of Xamarin do you have installed? Do you have VS 2013 Update 5 installed?

I have the Update 5 for VS 2013 and the latest stable Xamarin installed.

I went to file -> new blank Android application, then in the NuGet UI, added xunit.runner.devices. It all installed ok.

[2016-01-24 01:19] 304NotModified commented on #42
Thanks for testing. It's also VS2013 Update 5 here.

I will try from the GUI

[2016-01-24 01:24] 304NotModified commented on #42
![image](https://cloud.githubusercontent.com/assets/5808377/12533872/7b6cd80e-c241-11e5-8c54-e1547d3f781c.png)

Same steps (new blank app) and also NuGet 2.8.60723.765

I will try now with update of Xamarin.

[2016-01-30 01:56] onovotny commented on #42
Did the Xamarin update resolve this?

[2016-02-02 22:51] 304NotModified commented on #42
Sorry, has a small holiday.

No it did not. I tried reinstalling xunit, and also failed with the same error:

[code]

It seems to be working in VS2015, but I really like to have it working in VS2013

[2016-02-02 23:30] onovotny commented on #42
It's probably a NuGet bug....just curious why VS 2013 though if 2015 work?

[2016-02-04 00:34] bradwilson commented on #42
Because VS 2013 uses NuGet 2.x, and 2015 uses NuGet 3.x.

[2016-02-04 00:46] onovotny commented on #42
No, I get that. I'm curious as to why the need to continue using VS 2013 here. There definitely seems to be a bug with NuGet's compatible frameworks list that has since been fixed.

[2016-02-04 06:58] 304NotModified commented on #42
Well I don't like to force the community to use vs2015 and also I have seen enough issues in vs2015 already (crashes VS, crashes compiler,  performance issues) .

I have used every version of visual studio since VS 2003, and my experience is that every new version has (big) issues at the start. So I'm a bit defense with upgrading.

[2016-02-17 17:41] digital-synapse commented on #29
Does anyone have any updates on this? Having the same problem.
This makes TDD for xamarin/android next to impossible.

[2016-02-17 18:04] bradwilson commented on #29
Shouldn't this bug be opened with Xamarin?

[2016-02-17 18:08] onovotny commented on #29
There is an open bug, linked above. No progress on it so far other then their confirmation of a repro.

[2016-02-17 18:28] kensykora commented on #29
For those here, I've been able to sometimes work around this issue if I put a breakpoint in the main thread that gets hit before breakpoints that happen within async/await code. If a breakpoint in the main thread hits, it seems to allow breakpoints in async code to hit also.

[2016-02-22 14:15] AArnott commented on #29
For me, the app just hangs whenever it encounters a method with a breakpoint in it, including AppDelegate itself.

[2016-02-22 14:29] onovotny commented on #29
I just sent them a support email via the priority queue....lets see what happens.

[2016-02-22 21:41] kentcb commented on #29
@onovotny been there, done that. But please don't let that stop you. The more people shouting, the more likely this will be fixed.

I have found the most effective way of testing Xamarin applications is to.....not use Xamarin. I unload all Xamarin projects, put my tests in a PCL that I run via NCrunch or VS Test Runner, and do as much work as I can (services, view models) _without_ loading the Xam

[2016-02-22 22:01] digital-synapse commented on #29
@onovotny I hope they can get this patched for you before Xamarin Evolve 16 or its going to be pretty hard to do any kind of walkthough...

[2016-02-22 22:07] kentcb commented on #22
Sorry, meant to reply to this earlier but forgot. Yes, it's still an issue. tbh, I don't run tests in the devices runner often anymore, so this doesn't crop up as much. And when it does, I know exactly why the UI isn't updating and just tap around a bit so it does. But it would still be good to fix this at some point.

[2016-02-22 22:28] onovotny commented on #22
I would like to fix this...but still not sure how to repro?

[2016-03-01 18:09] onovotny commented on #29
Anyone want to give this a shot to confirm?
https://bugzilla.xamarin.com/show_bug.cgi?id=36078

https://www.dropbox.com/s/ugaodugklwkjboo/Xamarin.VisualStudio_4.0.1.102.msi?dl=0

There appears to be a fix.

[2016-03-02 22:12] digital-synapse commented on #29
Sweet! I did some preliminary tests. This does appear to fix the async code breakpoints! Thank you this is very helpful!

[2016-04-05 10:02] robertbaker opened #43 "Update nuget / when I update Xam Forms and other support libs, this lib causes a downgrade"
When I updated xam forms and the android support libs to the latest versions (23.2), nuget will go through and update, but then the dependency on this package will then initiate a downgrade of devices.xunit and xamarin forms.

If I update devices.xunit back to 2.0, then it will downgrade other libs.

It gets stuck in a weird cycle. Not sure if it's a nuget bug, but one way to fix it would be to re

[2016-04-21 17:19] robertbaker commented on #43
Could you do a pre-release version?

[2016-05-16 23:11] Jyosua opened #44 "Add Ability to Use XmlTestExecutionVisitor or Custom ResultListener"
I think this is pretty straightforward and clear, but basically: I would like to get xUnit-style XML Results, because I can run a transform on them to change them to NUnit-style and have our build servers read the XML as part of our CI processes.

As it stands, without just importing this projects code and modifying it myself, I'm forced to write a parser for the text-file output of the current Re

[2016-05-16 23:25] onovotny commented on #44
I'm always happy to expose a better way to get the results...also PR's :)

It shouldn't be hard to generate an xUnit XML result though and output that to the writer.

[2016-06-07 17:09] paulanthonymorris opened #45 "System.MissingMethodException: Method 'Forms.Init' not found"
The Android test runner is failing with this exception when I try to upgrade XForms to something greater than 2.1.x. I have scoured everything to make sure I don't have XForms assemblies of another version. Is no one else getting this?

[2016-06-08 21:48] Jyosua opened #46 "Theories Using Object Parameters Are Displayed As Single Test Cases in GUI and Do Not Provide Case in Results File"
We have some test cases that do something like the following:

[code]

Where TestObjectAlpha and TestObjectBeta inherit from TestObject.

What ends up happening, is that the test runner GUI only has ONE case listed to run -- ExampleTestMethodUsingObjectParameters(). Additionally, the test result output from the writer provides no parameters and simply lists this test twice, since there were two ca

[2016-06-08 21:57] onovotny commented on #46
/cc @bradwilson can we just `ToString()` other types used in this context for the display names?

[2016-06-08 22:34] bradwilson commented on #46
This is not about display names; this is about the fact that the theory data is not serializable.

[2016-06-08 22:37] onovotny commented on #46
If the custom types implemented `IXunitSerializable`, would it work better?

[2016-06-08 22:47] bradwilson commented on #46
Yes.

[2016-06-09 18:12] Jyosua commented on #46
I wrote a wrapper object that implements the IXunitSerializable interface and that corrected this issue for me. Sorry for the bother. I partially modified code I saw Brad posted here: https://github.com/xunit/xunit/issues/429

[code]

[2016-06-15 05:02] Bowman74 commented on #45
Same error, clean Android project.

[2016-06-17 08:43] tiksn commented on #45
I have the same issue

[2016-06-19 14:22] onovotny commented on #45
I've just pushed out an update to bring Xamarin Forms up to 2.3. Please re-open if still an issue.

[2016-06-19 14:22] #45 closed

[2016-06-19 14:22] onovotny commented on #43
I've just pushed out an update to bring Xamarin Forms up to 2.3. Please re-open if still an issue.

[2016-06-19 14:22] #43 closed

[2016-06-19 14:24] onovotny commented on #46
Thanks, closing this out then.

[2016-06-19 14:24] #46 closed

[2016-06-19 14:25] onovotny commented on #29
Closing as this should be fixed in the stable channel.

[2016-06-19 14:25] #29 closed

[2016-06-19 14:52] Bowman74 commented on #45
That fixed it, thanks!

[2016-08-31 19:45] thomasgalliker opened #47 "Theory with ClassData does not fail as expected"
I just created a test [Theory] with [ClassData] as input. When one of the test case fails, xunit.devices still shows the whole test as successful. I tried it on WP8 test runner only. If it is the last Theory that fails, the whole test is failed. Can you reproduce this error?

        [Theory]
        [ClassData(typeof(PropertyInputData))]
        public void ShouldReadWriteNativeTypes(ITestValue t

[2016-09-15 22:32] thomasgalliker commented on #47
After some hours of investigation, I found out that xunit does not list theories as seperate testcases as long as the parameter types are not serializable. Found this on stackoverflow:

http://stackoverflow.com/questions/30574322/xunit-memberdata-tests-show-up-as-one-test-instead-of-many

[2016-09-15 22:32] #47 closed

[2016-10-06 16:25] ShiroYacha opened #48 "netstandard support"
Hi,

It seems that xunit.runner.devices 2.x cannot be installed on netstandard projects? I have tried different profiles (I have added the imports) and based on the supported packages listed on nuget it should work.

Thanks

[2016-10-06 18:00] ShiroYacha commented on #48
Sorry I have made a mistake in the installation..

[2016-10-06 18:00] #48 closed

[2016-12-03 18:08] tomwis opened #49 "Runner without dependency on Xamarin.Forms"
I understand that it is easier to maintain runner based on Xamarin.Forms, however it would be useful to have a runner that is not dependent on that library - only Xamarin.Android or Xamarin.iOS.

I have 2 Xamarin.Android app (without Xamarin.Forms) with android support library in newest version (24.2.1). Xamarin.Forms depends on older version of that library (23.3.0) and because of that test proje

[2016-12-23 23:54] NameOfTheDragon opened #50 "When I click on the test summary line, the runner quits instead of showing the tests"
I'm running this on a Raspberry Pi 3, with Windows 10 IoT Core 10.0.14393.576 "Anniversary update".

My unit test app builds, deploys and runs as expected. I can click "Run Everything" and all the tests run (some fail, this is expected).

However, if I click on the summary bar where it tells me how many tests there are, the runner app simply quits instead of showing the test details.

[2016-12-24 00:58] onovotny commented on #50
@NameOfTheDragon Does this repro on "regular" Desktop windows or Mobile? Is there an IoT Core emulator? Not sure how I can repro this otherwise.

Happy to take a PR or otherwise more info?

[2016-12-25 17:22] NameOfTheDragon commented on #50
@onovotny No, this doesn't reproduce on desktop Windows 10. However, since this is a device runner, I wouldn't have thought that was really the prime use case. It is 100% reproducible on my Raspberry pi, though, even with an new test runner. The minimum code required to reproduce is here: https://bitbucket.org/tigra-astronomy/xunit.pirunner

I'm not sure that I'm really set up to investigate this

[2016-12-25 17:58] NameOfTheDragon commented on #50
I was able to build and deploy test.xunit.runner.uwp to my Raspberry Pi and when clicking on a list item, I get the following unhandled exception:
![image](https://cloud.githubusercontent.com/assets/1268490/21472315/aa866e3c-cacb-11e6-82c2-6ecab93367a5.png)

[2016-12-25 18:26] NameOfTheDragon commented on #50
OK, sure enough, removing that `SearchBox` from `AssemblyTestListPage.xaml` fixes the problem and allows me to expand the list items. I don't think there's much point in me submitting a PR with just that deletion, ideally we would need to find a replacement for the `SearchBox` control but I'm not sure how to mitigate this at the moment, so that's as far as I think I can take it. I think you have y

[2016-12-25 20:00] onovotny commented on #50
Thanks, let me check with a few others about this.

Sent from my Windows 10 phone

From: Tim Long<mailto:notifications@github.com>
Sent: Sunday, December 25, 2016 1:26 PM
To: xunit/devices.xunit<mailto:devices.xunit@noreply.github.com>
Cc: Oren Novotny<mailto:oren@novotny.org>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [xunit/devices.xunit] When I click on the test summary line, the

[2016-12-25 20:51] NameOfTheDragon commented on #50
There’s no rush… enjoy Christmas! ☺

Best regards,
Tim Long

From: Oren Novotny [mailto:notifications@github.com]
Sent: 25 December 2016 20:00
To: xunit/devices.xunit <devices.xunit@noreply.github.com>
Cc: Tim Long <Tim@tigranetworks.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [xunit/devices.xunit] When I click on the test summary line, the runner quits instead of showing the tests (

[2017-02-03 09:06] siwakornapichit commented on #42
Xamarin has big issue about update package in visual studio. If I update package in nuget manager It always have problem about remove and update System.Runtime or System.Runtime.InteropServices 4.0.0.

[2017-02-14 00:24] Bowman74 commented on #49
Xamarin Forms 2.3.4 will add support for Android Support packages 23.3.0 and newer (i.e. they will no longer be locked to a specific version of the AppCompat libraries). When this version of Xamarin Forms reaches the stable channel this may alleviate this problem with the runners moving forward.

[2017-02-20 15:24] #32 closed

[2017-02-20 20:57] #42 closed

[2017-02-20 20:59] onovotny commented on #49
I'll be waiting for Xamarin Forms 2.3.4 to release the 2.2 version of this runner just for that reason.

[2017-02-20 21:02] onovotny commented on #22
Is this still an issue? Maybe a later Xam Forms fixed something? Can you please try 2.2-rc1 and let me know?

[2017-02-20 21:05] onovotny commented on #27
Closing this out in favor or "long test detection". This is now in 2.2, but it's off by default.

You have to add an `xunit.runner.json` and enable the settings.

For Android it goes in the assets folder:
https://github.com/xunit/devices.xunit/blob/master/test/test.xunit.runner.android/Assets/xunit.runner.json
https://github.com/xunit/devices.xunit/blob/master/test/test.xunit.runner.android/test.x

[2017-02-20 21:05] #27 closed

[2017-02-20 21:18] Bowman74 commented on #49
Looks like DeviceRunner.cs doesn't compile for me due to some recent changes. Looks like a method nested in another method. Problem is on line 224:

        Task RunTests(Func<IReadOnlyList<AssemblyRunInfo>> testCaseAccessor)
        {
            var tcs = new TaskCompletionSource<object>(TaskCreationOptions.RunContinuationsAsynchronously);

            void Handler()
            {
...

[2017-02-20 22:50] onovotny commented on #50
I tried to fix this by using the `AutoSuggestComboBox` as recommended. Can you try the CI feed and let me know if it works for you on IoT?

The CI feed is `https://www.myget.org/F/xunit-xamarin/api/v3/index.json` and the fix is in 2.2.0-rc2-build0002 or later.

[2017-02-20 22:56] kentcb commented on #22
Just tried this. It is indeed working now in 2.2-rc1 🎉 No doubt one of many XF bugs fixed since 2.0.1.

[2017-02-20 22:56] #22 closed

[2017-02-20 23:28] NameOfTheDragon commented on #50
Thanks Oren, I will do my best. My Raspberry Pi system is not set up at the moment but I should be able to try something soon.
--Tim

[2017-02-26 16:54] Bowman74 commented on #28
@onovotny Likely what is happening here is a rotation event in Android causes the main activity to reload and is resetting the present state. The likely solution is to save current state on the main activity unload and reconstitute it when the activity reloads.

[2017-02-26 18:27] onovotny commented on #28
Almost certainly....pr? :)

[2017-02-26 23:08] Bowman74 commented on #28
I'll take a look at it. ;)

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Oren Novotny <notifications@github.com>
Sent: Sunday, February 26, 2017 10:27:51 AM
To: xunit/devices.xunit
Cc: Kevin E. Ford; Comment
Subject: Re: [xunit/devices.xunit] Rotating the device resets everything (Android) (#28)

Almost certainly....pr? :)

—
You are receiving this because

[2017-03-01 12:11] Mardoxx commented on #47
Pretty sure that's wrong. You have to implement IXunitSerializable for it to work.
https://github.com/xunit/xunit/blob/master/src/common/XunitSerializationInfo.cs#L104

Something like this would work, but you'd have to ask why you want to do it this way...

[code]

[2017-04-27 15:03] Geeksltd commented on #41
It's not working together with files. See: http://stackoverflow.com/questions/43540616/nuspec-why-is-contentfiles-ignored-if-you-add-files-node-how-to-fix/43660120#43660120

[2017-05-17 10:56] dmitrykm opened #54 "Running on Android under the native debugger crashes"
[code]
Here are the steps:
* Create an Android tests project
* Go to Project properties > Android Options >Debugging Options: set [Debugger] to [C++]

With this code
[code]

I get the following error at startup right after launching the test project:
![image](https://cloud.githubusercontent.com/assets/1682890/26150595/e680da1e-3ab3-11e7-87f5-50f93d400bb6.png)

The target device is an x86 Google's

[2017-05-17 16:11] onovotny commented on #54
This seems like a bug in Xamarin's tools...I'd recommend filing an issue on Bugzilla and cross-referencing the issue. The code is all portable code, we're not doing anything that could be causing that.

[2017-05-18 11:12] hlogmans commented on #49
Forms 2.3.4 is stable. And an update is neccesary because the Forms 2.3.3 version will cause XamlCTask errors in newer Xamarin Studio versions... I hope you can update the package soon.

[2017-05-18 11:39] dmitrykm commented on #54
Yes, this is very likely a Xamarin/GDB bug. There were some scary discussions like https://bugzilla.xamarin.com/show_bug.cgi?id=14129 in the past. I've referenced this page from https://developercommunity.visualstudio.com/content/problem/49039/android-native-debugging-reports-global-signals.html , but the chances that it will be fixed soon are not high...  For those who need to debug unit tests un

[2017-05-20 18:45] onovotny commented on #49
Xunit for Devices 2.2 should be on NuGet momentarily and targets Forms 2.3.4.

[2017-06-02 11:50] mirakulix opened #55 "Warning: _CopyOutOfDateSourceItemsToOutputDirectory"
## Description
Warning Path/xxx.csproj: Warning: Target '_CopyOutOfDateSourceItemsToOutputDirectory', not found in the project (xxx).

## Steps to reproduce
Create single page iOS application inside Xamarin.Forms solution. Add package xUnit.net for Devices (stable 2.2.0). Compile project and observe warning.

## Expected behavior
No warnings

## Actual behavior
Single warning is shown.

## Environ

[2017-06-08 05:18] weitzhandler opened #56 "Unable to install xunit.runner.devices"
Hello,

I'm trying to add a _Xamarin.Forms_ test project.

I created a _Xamarin.Forms_ PCL and when trying to install the `xunit.runner.devices` NuGet package, I get the following error:

What am I doing wrong?

[2017-06-09 15:00] izefler commented on #56
@weitzhandler , I am currently testing on this framework, and received the same message. To solve it I installed version 2.1 according to the documentation and it worked perfectly.

https://github.com/xunit/devices.xunit

I hope this helps.

[2017-06-09 15:53] onovotny commented on #56
@weitzhandler The devices project does not support installing into a PCL... it is platform specific and is meant to be the "runner app" for iOS, UWP or Android. The tests can live in a PCL as you tell the runner app which assemblies contain tests.

[2017-06-09 16:39] izefler commented on #56
Hi @onovotny , thank you very much for your contribution and for your attention!

I have two doubts about using xUnit in Xamarin Forms applications along with Visual Studio Team Services in the build process.

First, it is about the location of the test classes, they must be together with the production classes and be published together with the final application, or it is possible to decouple the

[2017-07-19 14:48] mattrichnz opened #57 "Xamarin.Forms not supported in UWP test runner"
Prior to XF 2.3.4, the UWP test runner supporting calling `Xamarin.Forms.Forms.Init(e)` to  enable XF for tests which require it.

However, starting with XF 2.3.4 the following exception occurs when you attempt to initialize Xamarin.Forms in the UWP test runner:
`HRESULT E_FAIL has been returned from a call to a COM component`

Changing the initialization entry point has no effect.

[2017-07-19 15:04] mattrichnz commented on #57
Closed. Refer https://github.com/xunit/xunit/issues/1371.

[2017-07-19 15:04] #57 closed

[2017-08-03 09:47] ShiroYacha opened #58 "Possibility to leverage Xamarin UITest to automate testing in CI"
@onovotny I am looking for a solution to enable xunit unit test automation in CI platforms such as the Xamarin Mobile Center. I seems that currently I can only run unit tests via MSBuild or post-build schell scripts (and the tests are not carried out in the devices)... After checking the project a bit, I think currently it is not possible to automate this type of testing? As Mobile Center supports

[2017-08-04 22:48] KyleKofoed opened #59 "Testing Native Projects (Xamarin.iOS and Xamarin.Android)"
Hey there, @onovotny,

I was wondering if using this nuget package to test Xamarin Native projects (not forms). I was curious if anyone has done this yet. Or if everyone is pretty much using Xamarin Forms with xUnit. I've had some struggles with getting the build to behave consistently. I think a big part of my issue is that I'm referencing the original native projects to my test projects. Is this

[2017-08-05 00:15] onovotny commented on #59
Hi @KyleKofoed,

it should support testing non-forms projects. The runner only uses forms to display its own UI.

Normally, the logic that you'd be testing would be in a referenced library, not in the main application.

So you'd have

Devices.xUnit project (with or without tests in them)
Test library (referenced by devices.xunit and added to the test assemblies list)
ios/android Library with stuff

[2017-08-07 19:03] KyleKofoed commented on #59
Thank you for your response @onovotny!
What you have described is essentially what I did. And after some pain-points which were not xUnit runner related but Xamarin related. After some refactoring to make my algorithm more testable. I was able to test iOS/Android specific geolocation search algorithm logic on each platform of Xamarin!
I could potentially list some of the pain points here if it wil

[2017-08-07 22:45] onovotny commented on #59
Glad you were able to make it work! Always happy to hear about pain points and your workarounds -- or a blog post about them :)

For Automated UI testing, I would suggest taking a look at Xamarin's CodedUI test tools because those can be easily run with Test Cloud. Not sure xUnit is the right fit for that.

[2017-08-08 15:51] KyleKofoed commented on #59
Alright, I'll try to get a list together soon!

As far as CodedUI tests are concerned it looks like it uses nUnit. Does that mean I should move my tests from xUnit to nUnit? Perhaps that is a loaded question, However, I don’t think it would make sense to have two different testing paradigms in the same project.

I do have a preference for xUnit but going back and forth may be troublesome. Any thou

[2017-10-15 08:06] pellet commented on #58
:+1:

[2017-10-17 13:21] pellet commented on #58
I think writing a simple async\await TCP listener to write out the xunit.XML might be the cleaner option.  The tests can be auto started and the app killed after running.

[2017-10-21 10:10] pellet commented on #58
I found this https://github.com/spouliot/Touch.Unit you can use the Touch.Server to write the CI's test to stdout/log and parse it to see if the test failed.

[2017-11-13 09:53] byrialsen opened #60 "TestMethods not found after adding xunit.runner.devices nuget package"
Hi.

I have a solution with an UWP application where I need to add some unit so I have decided to tryout xunit and run it on devices like described here: [https://xunit.github.io/docs/getting-started-devices-uwp.html](https://xunit.github.io/docs/getting-started-devices-uwp.html).

In respect to running the xunit test on a device everything works fine, but at the moment I add a reference to the xu

[2017-11-21 16:54] jaimspok commented on #58
Touch.Server from the Touch.Unit repository was built for NUnit tests. Has anyone ran it with XUnit tests?

[2017-12-05 19:16] matelich opened #62 "Cannot reference UWP Application"
VS2017 v15.4.5
xunit.runner.devices v2.3.2
xunit v2.3.1

Followed https://xunit.github.io/docs/getting-started-devices-uwp.html and works successfully on x86 and ARM.
Upon adding a reference to my UWP application, I get an error:

Do I have to move all logic I want tested to a class library?

[2017-12-05 19:42] onovotny commented on #62
Unfortunately, yes. UWP testing requires an app and it doesn't seem like an app can reference an app.

[2017-12-05 19:43] matelich commented on #62
Ok, bummer.  Thanks for getting back to me.

[2017-12-05 19:43] #62 closed

[2017-12-15 06:25] pellet commented on #58
I think you would have to do some modification to get it to work.  I ended up writing some simple code from scratch to listen on the tcp port and parse the incoming data for "Failed: 0" as to wether the tests passed or not.
I wrote the "test receiver" and android adb test harness deployment in c# using cake frosting.
I might try breaking the test receiver code out into a cake plugin for others to

[2018-01-08 06:46] pellet commented on #58
I've created a devices.xunit test receiver as a cake plugin. Here is the [repo](https://github.com/pellet/Cake.DevicesXunitTestReceiver)

[2018-02-18 00:13] borrrden opened #63 "Unable to build xunit.runner.devices"
Just downloading and opening the xUnit.devices.sln solution file on the latest VS Mac yields the following error on xunit.runner.devices:

![screen shot 2018-02-18 at 9 04 16](https://user-images.githubusercontent.com/2470288/36346859-93ae87de-148b-11e8-9024-7fa079bf331e.png)

Playing around with the target frameworks in the csproj just changes the version number (if monoandroid80 comes first, it'

[2018-02-18 01:09] borrrden opened #64 "2.3.x fails to perform test discovery on Android"
This problem seems specific to Android.  iOS projects are using 2.3.3 without issue for the same set of tests.

Not sure what is going on or how to get more information but using the latest stable version of xunit (2.3.1) and xunit.runner.devices 2.2.0 when the unit test app starts I see an activity indicator and then a list of test assemblies and tests inside.

I couldn't attempt the xunit 2.3.1

[2018-02-18 01:50] onovotny commented on #63
Unfortunately, VSfM can't be supported since there's a UWP target.

[2018-02-18 03:17] borrrden commented on #63
I had assumed if I just removed that, it would be fine but that wasn’t the case.

[2018-02-21 16:15] andoniripoll1 commented on #60
Exact samething happening to me

[2018-02-21 16:23] bradwilson commented on #60
The Device runner is for running tests on the device itself (or inside an emulator); it's not for running the tests in Visual Studio. For that, you should use `xunit.runner.visualstudio` instead.

[2018-02-21 16:25] onovotny commented on #60
I am working on ensuring they work together in an upcoming release, but it relies on TPv2 and improvements there.

[2018-02-22 11:08] joaosilvareed commented on #44
Hi,

I've just faced this issue to be able to use the xml results on my CI, did anyone got anywhere?

Thanks.

Regards,

[2018-02-28 21:37] cwrea commented on #64
I am experiencing this issue as well with xunit.runner.devices.2.3.3. Tests are not being discovered in my Android unit test app build.

However, I notice the problem only occurs when my Android project's *Android Options* tab has the option "Use Fast Deployment (debug mode only)" unchecked. If the option is checked (which also requires the "Use Shared Runtime" option to be checked), then tests ar

[2018-02-28 21:53] cwrea commented on #64
I can confirm that downgrading xunit.runner.devices to v2.2.0 gets test discovery working again, and without requiring "Use Fast Deployment (debug mode only)" nor "Use Shared Runtime". With v2.2.0 I am able to deploy a release build to a device, which has neither of those options checked, and tests are bring discovered.

[2018-04-09 10:15] wickedw opened #65 "Running Tests on Main UI Thread"
Hi,

More of a question than an Issue, is there anyway to ask the xUnit Runner to run its
tests on the Main UI Thread?

Thanks for any help.

Best Regards
Matt

[2018-05-18 12:37] wickedw commented on #65
Thanks, sorry completely forgot about this thread and went off and used the usual
 UIApplication.SharedApplication.InvokeOnMainThread(() =>

Will try this and report back all ok.

[2018-05-18 14:42] wickedw commented on #65
Seems to work great, thanks :)

[2018-05-18 14:42] #65 closed

[2018-05-29 17:00] #60 closed

[2018-05-29 17:02] #58 closed

[2018-05-29 19:49] onovotny commented on #64
I'm looking into this, but I think there's something with the Linker.

I was able to repro, but debugging is hard since the debugger won't attach in the scenario. I got it to work by setting the Android Options linker mode to None and turning off "Optimize code" on the Build tab.

In that, it works without the shared runtime. I'll keep digging, but this hopefully can unblock you.

[2018-06-06 19:35] ToddThomson commented on #28
@onovotny As you likely know, an Android rotation or screen orientation change restarts the currently running Activity. OnDestroy() is followed by OnCreate(). As @Bowman74 mentions above, you must save state to properly handle the Activity restart.

I can issue a PR for this, but I need to determine first how you are handling the background thread that is running the tests. With Android this is ac

[2018-06-06 19:39] onovotny commented on #28
I'd love a PR to fix this...I've just put up with it all this time. The thing you'd want is to keep the xUnit classes alive between the views and then reattach them to the new view instances. The threading model of the execution doesn't matter as much long as the xUnit classes are maintained.

[2018-06-06 19:50] ToddThomson commented on #28
@onovotny Yes, I'm just looking into that. When an Activity is destroyed so are all it's resources. It is likely that the thread(s) that is running the test(s) will need to be run in a Service. Let me take a look and I'll get back to you soon...

[2018-06-07 18:38] onovotny commented on #28
I'm not sure I follow 100% -- there's nothing that an activity can do to control/kill the threads we create in our instance...?

If we use a static `FormsRunner` instance, wouldn't that solve it?

[2018-06-07 20:04] ToddThomson commented on #28
When an Activity is about to be killed it receives the onDestroy() life cycle event. The Activity should then perform housekeeping ( Cancel background threads to avoid avoid memory leaks, etc. ).

A static FormsRunner instance would still live in an Activity context.

Android provides Services to help with background threading scenarios. It's just the way it is. It's not too much more effort to pu

[2018-06-08 20:43] ToddThomson commented on #28
@onovotny

I believe you are thinking along the lines of how Xamarin.Android.NUnitLite works. NUnitLite utilizes a static AndroidRunner.Runner instance. This instance will persist until the JVM unloads the outer class or the DVM is killed (essentially). This is perhaps a "Good Enough" solution, but, in general, it is not robust.

If a test app, derived from your RunnerActivity, goes into a paused

[2018-06-08 21:52] ToddThomson commented on #28
@onovotny I'm going to go ahead with using the Xamarin Forms Backgrounding technique to handle long running test tasks.

[2018-06-09 00:11] ToddThomson commented on #28
@onovotny Why doesn't UWP get a package reference to Xamarin.Forms? in csproj?

[code]

[2018-06-09 01:40] onovotny commented on #28
Because UWP has its own UWP XAML Implementation due to Xam Forms not working well with .NET Native at the time. (it may be better now).

[2018-06-28 03:36] pellet opened #68 "Ability to filter tests"
The functionality to filter tests with a string the same as you would with the xunit ''[filter](https://docs.microsoft.com/en-us/dotnet/core/testing/selective-unit-tests)" parameter, or basic string matching would be great for doing TDD on platform specific code and for kicking off particular suites of tests without needing to separate each suite into a new test assembly.
One way to implement this

[2018-07-05 09:44] pasn commented on #64
It seems that you are right @onovotny . I was playing with [custom linker configuration](https://docs.microsoft.com/en-us/xamarin/cross-platform/deploy-test/linker) and the minimal configuration that I found working was:
  <assembly fullname="xunit.core">
    <type fullname="Xunit.FactAttribute" />
    <type fullname="Xunit.InlineData" />
    <namespace fullname="Xunit.Sdk" />
  </assembly>
  <ass

[2018-07-19 02:47] pellet commented on #68
Here's a hack I used to get it working using reflection,
I just called this method from the MainActivity.OnCreate method.

        /// <summary>
        /// Kick off your test/tests by using a filter.
        /// </summary>
        /// <param name="filter"></param>
        public void AutoStartFilteredTests(string filter)
        {
            var navigationPage = Xamarin.Forms.Application.Current

[2018-07-27 00:59] onovotny commented on #64
I can't add those to the main xUnit libs, but it looks like that config file can be added to the devices with the `LinkDescription` build action:
https://docs.microsoft.com/en-us/xamarin/cross-platform/deploy-test/linker

[2018-07-27 09:13] pasn commented on #64
That's right. If you are doing something like this, I would recommend to include full assemblies without specifying types and namespaces. Linker's configuration that I presented above seems to be fragile for future changes. I would rather recommend something like this:

[code]

[2018-07-29 15:16] #64 closed

[2018-08-13 08:24] ssrakesh opened #72 "UnitTests from UWP command line"
1. when I build the unit tests in UWP, it always stars with window. is it possible to avoid it? or at least start with testing without clicking on any buttons?
2. To run tests  from build PC, do I need to run from MS tests or is XUnit has a standalone test runner?
3. Is it possible to run tests without login to build PC?

Environment
Windows: 10. 1803,
UWP: 6.1.7
Development: VS2017 pro
Build: Jen

[2018-09-11 23:00] 1Cor125 opened #75 "Device runner for macOS?"
I need a device runner for macOS and I am already using xunit device runners. Since Xamarin Forms 3, macOS is possible. Is there interest in supporting a macOS device runner? I would be willing to contribute a PR. Any insights would be appreciated.

[2018-09-13 14:15] onovotny commented on #75
Certainly happy to take a PR that adds mac support. It'll need a mac target in the main runner, but also a test app. Finally, it'll need some kind of project template to get people started and I'm not sure what VSfM uses for that?

[2018-09-13 23:46] 1Cor125 commented on #75
Ok. Pulled the repo down last night and started perusing. I look forward to chipping away at this.

[2018-10-31 18:00] karlingen opened #78 "Wrong version of xunit.runner.utility.netstandard installed with the latest package version"
I'm not sure if this is a xamarin, mono, nuget or a broken `csproj` file. But I get this error when I update to the latest version of this package (`2.5.18`).

[code]
Browsing through my installed packages I found out that the latest version of this package  includes the following dlls inside `lib/xamarinios10`:
[code]

Installing version `2.4.48` includes the following files:
[code]
I was able to

[2018-10-31 18:35] #78 closed

[2018-10-31 18:55] onovotny commented on #78
Sorry, that was an oversight. Fixed in 5.2.20.

[2018-11-13 03:45] dansiegel opened #79 "Test Automation"
# Description
Device Test Automation is still a major pain point for the entire community. It would be fantastic to have a dotnet tool that could be installed and run that can install an IPA/APK to a simulator and establish communication with an included Writer so that test results can be captured for VS/Azure DevOps/etc...

[2018-12-15 02:57] dansiegel opened #80 "Templates out of date"
# Description

Upon creating a new Device Runner from the Android template in Visual Studio, the xunit.runner.devices package fails to install due to the Android template targeting v6 Marshmellow instead of 8.1 Oreo...

Also when looking at the custom writer section of the template, it shows using the Writer with the TcpTextWriter, however the Writer has been marked obsolete. This should be update

[2018-12-25 09:57] velocitysystems commented on #75
@onovotny I am currently working to take this on, just looking at the project structure.
Do you have any preferences/recommendations on how to best integrate the Xamarin.Mac project?

[2018-12-25 12:06] velocitysystems commented on #75
@onovotny @1Cor125 I have a very early port of the device runner working for macOS.
Please see screenshots below. Needs some more work and UI tweaks, but its **working**!

![screenshot 2018-12-25 at 12 04 10 pm](https://user-images.githubusercontent.com/5580462/50421998-6ad6cc80-083d-11e9-9181-da968f8d981a.png)

![screenshot 2018-12-25 at 12 04 29 pm](https://user-images.githubusercontent.com/5580

[2018-12-25 14:15] onovotny commented on #75
Looks great!

Can it build (but not run) from a Windows VM like iOS does? I would open a PR with the updates and we can take it from there.

[2019-01-10 09:16] velocitysystems commented on #75
Thanks @onovotny. I've just made a couple of further tweaks to the branch and will open a PR.
Unfortunately, I believe the MacOS project can't build on a Windows VM only using VS for Mac.

To this end, I have separated it into a seperate project/SLN which can be opened independently from VS for Mac but references all the existing files in `xunit.runner.devices`.

[2019-04-23 15:09] RLittlesII commented on #79
@onovotny @dansiegel I was wondering if there is any traction on this?  A proposed approach even?  I agree this is a community problem that if we can solve, would be huge.
I saw a video of James Montemagno sending in url's to a running iPhone app the other day.  That has to be a step in the right direction.

[2019-04-23 15:20] dansiegel commented on #79
I wish it was something I could take on right now but I have less than no time. I might point to the Xamarin.Essentials repo though as from what I understand they've automated their tests with device runners and the public hosted agents. It's really a matter of taking all of the script magic they're using and packaging it up to make it easy to reproduce for the entire community... then maybe get s

[2019-07-07 14:08] pellet commented on #79
I've been automating tests for iOS/android using a cake frosting add-on I wrote here: https://github.com/pellet/Cake.DevicesXunitTestReceiver .  It writes the test results via tcp back to the cake job.  It was just something to get me by until better tools came along with detailed reports.  A VS/Rider Test explorer would be amazing for getting work done.

[2019-07-08 13:41] wickedw opened #104 "Help with how to use ResultChannel"
Hi,

Firstly, thanks for such a great XUnit Runner.

I was just looking for some help in using a ResultChannel.

For example, if I set up like so in iOS -

            Task.Run(async () =>
            {
                ResultChannel = await TrxResultChannel.CreateTcpTrxResultChannel("127.0.0.1", 16384);
            });

I get a nice TRX XML output when using a listener on MAC such as with -

nc -l

[2019-08-21 08:56] wickedw commented on #104
Its OK I figured out how to add my own custom ResultChannel which implements

ITestListener, IResultChannel

and I am good to go, thanks.

[2019-08-21 08:56] #104 closed

[2019-09-13 11:25] tonivuc opened #115 ".txt file not inserted into project on install"
Hi,

MainActivity.cs.txt was not added to my pretty much empty Xamarin Forms Android project when I installed the NuGet package through Visual Studio. Also I had to install a xunit.assert, xunit.abstractions and xunit.core to stop getting dependency errors after adding xunit.runner.devices.

IDE: Visual Studio Community 2017, 15.09.15
NuGet Package Manager 4.6.0

Found the .txt files by downloadin

[2019-10-02 19:17] mimunoz opened #119 "iOS 13 can't run test project"
Hi, this monday I upgraded the latest iOS SDKs versions and when I try to run the test in iOS test runner this show only blank page. In the terminal log output show this:
[code]

I tried downloading the simulator and SDK iOS 12 again and then run with that target, the result was test are showed again without problem.

[2019-10-04 11:15] francipvb opened #121 "Accessibility problems on Windows Runner"
Hello,

I'm a screen reader user and I found issues when running the test runner for Windows universal. The issue is that list items accessibility name are set to the model class's full type name.

Fortunately there is a simple way of solving this. You need to override ToString method on all view models you render in observable collections.

### Details:

* `TestAssemblyViewModel`: You need to ren

[2020-03-27 22:28] Anil86 opened #137 "Testing UWP app fails to start"
I'm looking to test UWP app.
When I run the app, following error occurs:

![image](https://user-images.githubusercontent.com/12828168/77805038-fffeeb80-70a6-11ea-8088-22f5dcb1ed9f.png)

Output Debug window shows following error:
The program *[14520] XunitWithUWP.exe* has exited with code *-1073741189 (0xc000027b)*.
The program *[14520] XunitWithUWP.exe: Program Trace* has exited with code *0 (0x0)

[2020-04-24 12:00] AlariOis commented on #137
You are missing a SDK reference to TestPlatform.Universal

Edit XunitWithUWP.csproj file and add
`
<ItemGroup>
    <SDKReference Include="TestPlatform.Universal, Version=$(VisualStudioVersion)" />
  </ItemGroup>
`

[2020-04-29 10:25] AraHaan opened #141 "VS runner does not resolve on netstandard2.0 targets."
It seems all the other nuget packages except for the VS one to integrate with Visual Studio one resolves for netstandard2.0 though,

While all but the regular Xunit package resolves for net40 target in sdk style projects, both frameworks I got to test on as well.

![image](https://user-images.githubusercontent.com/15173749/80585943-28e60980-89e2-11ea-81b8-594a63f0dea4.png)
![image](https://user-im

[2020-04-29 13:48] bradwilson commented on #141
Writing tests in netstandard is not supported. https://xunit.net/docs/why-no-netstandard

[2020-04-29 13:50] bradwilson commented on #141
The minimum supported version of .NET Framework is 4.5.2.

[2020-08-31 13:48] wcoder opened #148 "Failed MemberData doesn't show in runner app"
Test:
[code]

When some MemberData items fail the test, the runner app doesn't show failed, only succeeded items.

Platform: iOS

[2020-09-18 14:04] 1Cor125 commented on #148
I am also seeing this when using `[Theory][MemberData(Data))]`. I think this has been broken for a while. I only now caught it because I started running the tests headlessly and parsing the xunit test results file in CI.

[2020-09-30 15:06] keab42 opened #149 "Visual Studio for Mac"
When using VS for Mac's inbuilt "Add Nuget Package" functionality, the template AppDelegate.cs.txt does not seem to be generated.

[2020-10-27 13:49] MadMe86 commented on #115
May be it is all alive in
https://marketplace.visualstudio.com/items?itemName=onovotny.xunitfordevicestemplates
The getting started section seems to be a little bit outdated...

[2020-12-20 10:23] NightOwl888 opened #154 "Extremely poor performance, tests do not complete"
I have a [single test project](https://github.com/NightOwl888/J2N/tree/v2.0.0-beta-0011/tests/J2N.Tests.xUnit) with over 77,000 tests in it. Running the tests on .NET Core using `dotnet test`, these tests are both discovered and complete running within 4 minutes.

However, when loading a project that uses `xunit.runner.devices` on `MonoAndroid90` (using the Android emulator on Windows 10), it take

[2021-04-19 16:00] LDan1117 commented on #79
Hi!

Has anyone been able to configure test runs on Azure DevOps Mac agents for Xamarin.iOS projects?
Is [using a cake script](https://github.com/xamarin/Essentials/blob/main/DeviceTests/build.cake) the only feasible option for now?

[2021-05-24 14:55] ThinhTranA opened #161 "Is Devices.XUnit still be maintained?"
I'm looking at using this package. However this repo has not been updated for 2 years. Should I be worried that no future supports are available?

[2021-05-29 13:20] #161 closed

[2021-11-16 14:26] tranb3r opened #169 "DotNet Maui"
Do you plan to support DotNet Maui ? (allowing for a single project xunit test runner)

[2022-07-26 07:47] tranb3r commented on #169
https://github.com/shinyorg/xunit-maui